m6apipe.code-workspace
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
LncRNAanalysisPipe.nf
nextflow_fly.config
nextflow_human.config
designfile_bam.txt
circpipe.nf
nextflow_test_fly.config
nextflow_for_bam.config
designfile_test_human.txt

test.nf
.gitignore
work_log/m6APipe.pptx
work_log/~$m6APipe.pptx
arranged_results.m6APipe
Report/.RData
Report/viewer.Rproj
Report/.Rproj.user/2A715A5B/rmd-outputs
Report/.Rproj.user/2A715A5B/saved_source_markers
Report/.Rproj.user/2A715A5B/console06/INDEX001
Report/.Rproj.user/2A715A5B/pcs/files-pane.pper
Report/.Rproj.user/2A715A5B/pcs/source-pane.pper
Report/.Rproj.user/2A715A5B/pcs/windowlayoutstate.pper
Report/.Rproj.user/2A715A5B/pcs/workbench-pane.pper
Report/.Rproj.user/2A715A5B/sources/per/t/2C9DE0B1
Report/.Rproj.user/2A715A5B/sources/per/t/2C9DE0B1-contents
Report/.Rproj.user/2A715A5B/sources/per/t/6E13394A
Report/.Rproj.user/2A715A5B/sources/per/t/6E13394A-contents
Report/.Rproj.user/2A715A5B/sources/per/t/A0F7743
Report/.Rproj.user/2A715A5B/sources/per/t/A0F7743-contents
Report/.Rproj.user/2A715A5B/sources/per/t/CF315FC7
Report/.Rproj.user/2A715A5B/sources/per/t/CF315FC7-contents
Report/.Rproj.user/2A715A5B/sources/prop/11290DF1
Report/.Rproj.user/2A715A5B/sources/prop/7F8F8BC3
Report/.Rproj.user/2A715A5B/sources/prop/F5AD0EC1
Report/.Rproj.user/2A715A5B/sources/prop/FAA227EE
Report/.Rproj.user/2A715A5B/sources/prop/INDEX
Report/.Rproj.user/shared/notebooks/patch-chunk-names
Report/www/PCA.png
Report/www/correlation.png
Report/www/distribution.png
Report/www/enrichment1.png
Report/www/enrichment2.png
Report/www/enrichment3.png
Report/www/enrichment4.png
Report/www/expression level.png
Report/www/heatmap.png
Report/www/motif.png
Report/www/plot1.png
Report/www/plot2.png
Report/www/position dis.png
Report/www/volcano.png
Report/www/merged_group_shGFPa549.bed
Report/www/merged_group_shWTAPa549.bed
Report/www/refGene.hg19.bed.gz
Report/www/refGene.hg19.bed.gz.tbi
Report/www/shGFPa5491.input_shGFPa549_sort.bigWig
Report/www/shGFPa5491.ip_shGFPa549_sort.bigwig
Report/www/SRR5194806.bw
CMD_1.sh
loop_test.sh
Report/.Rproj.user/2A715A5B/sources/s-8F2E4D5D/lock_file
