m6apipe.code-workspace
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
LncRNAanalysisPipe.nf
nextflow_fly.config
nextflow_human.config
designfile_bam.txt
circpipe.nf
nextflow_test_fly.config
nextflow_for_bam.config
designfile_test_human.txt
.nextflow*
work/
data/
results/
.DS_Store
tests/test_data
*.pyc
