m6apipe.code-workspace
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
data/WT1input.fastq
data/Mut1input.fastq
data/Mut1ip.fastq
data/Mut2input.fastq
data/Mut2ip.fastq
data/WT1ip.fastq
data/WT2input.fastq
data/WT2ip.fastq
test.nf
paired_data/Mut1input_1.fastq
paired_data/Mut1input_2.fastq
paired_data/Mut1ip_1.fastq
paired_data/Mut1ip_2.fastq
paired_data/WT1input_1.fastq
paired_data/WT1ip_1.fastq
paired_data/WT1input_2.fastq
paired_data/WT1ip_2.fastq
LncRNAanalysisPipe.nf
nextflow_fly.config
nextflow_human.config
