/*
 * -------------------------------------------------
 *  nf-core/m6APipe Nextflow docker soft config file
 * -------------------------------------------------
 */

process {
  container = 'ninomoriaty/m6apipe:latest'
}
params {
  // Defaults only, expecting to be overwritten
  matk_jar = '/MATK-1.0.jar'
}
